{% extends "base.html" %}

{% block content %}
{% if not nojs %}
<div class="" style="margin-bottom: 1em">
    <div class="progress">
        <div id="progress-bar" class="progress-bar" style="width: 100%"></div>
    </div>
</div>
{% endif %}
<div class="box">
    <h2>Monero Blockchain Explorer</h2>
    <form action="{{ baseUrl }}/search">
        <input type="text"
               name="q"
               id="searchInput"
               placeholder="Search a block height or transaction hash..."
               required>
        <button type="submit">Search</button>
    </form>
    <div id="search-results" class="search-results"></div>
</div>
<section class="box" id="network-info">
    <h2>Network Statistics</h2>
    <div hx-get="{{ baseUrl }}/htmx/network_info"
         hx-trigger="timerEvent"
         hx-swap="innerHTML"
         id="networkInfo">
        <p class="loading">Loading network info...</p>
    </div>
</section>
<section class="box">
    <h2>Mempool</h2>
    <div hx-get="{{ baseUrl }}/htmx/mempool_summary"
         hx-trigger="timerEvent"
         hx-swap="innerHTML"
         id="mempoolSummary">
        <p class="loading">Loading mempool data...</p>
    </div>
</section>
<section class="box">
    <h2>Recent Blocks</h2>
    <div hx-get="{{ baseUrl }}/htmx/recent_blocks"
         hx-trigger="timerEvent"
         hx-swap="innerHTML"
         id="recentBlocks">
        <p class="loading">Loading recent blocks...</p>
    </div>
</section>
{% if not nojs %}
<script>
    function startProgressBarCountdown(durationInSeconds) {
        const progressBar = document.getElementById('progress-bar');

        if (!progressBar) {
            return;
        }

        const startTime = performance.now();
        const totalDuration = durationInSeconds * 1_000; // ms

        function update(currentTime) {
            const elapsed = currentTime - startTime;
            const progress = Math.max(0, (totalDuration - elapsed) / totalDuration);
            const percentage = (progress * 100).toFixed(2);

            progressBar.style.width = percentage + '%';

            if (elapsed < totalDuration) {
                requestAnimationFrame(update);
            } else {
                progressBar.style.width = '0%';
            }
        }

        requestAnimationFrame(update);
    }

    function triggerHtmx(el) {
        document.getElementById(el).dispatchEvent(
            new CustomEvent('timerEvent')
        );
    }

    function loadContent(timer) {
        startProgressBarCountdown(timer);
        triggerHtmx('networkInfo')
        triggerHtmx('mempoolSummary')
        triggerHtmx('recentBlocks')
    }

    document.addEventListener("DOMContentLoaded", (event) => {
        const timerCountdown = 30;
        loadContent(timerCountdown);
        setInterval(function() {
            loadContent(timerCountdown);
        }, timerCountdown * 1_000);
    });
</script>
{% endif %}
{% endblock %}
