<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monero Explorer{% endblock %}</title>
    <link rel="shortcut icon" href="{{ baseUrl }}/images/monero.svg" type="image/x-icon" />
    <link rel="stylesheet" href="{{ baseUrl }}/css/brutalism.css">
    <link id="theme-stylesheet" rel="stylesheet" href="{{ baseUrl }}/css/{{ theme }}.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css/style.css">
</head>
<body>
    <script src="{{ baseUrl }}/js/htmx.js"></script>
    {% if not nojs %}
    <script>
        function getTheme() {
            return localStorage.getItem('theme') || '{{ theme }}';
        }

        function getAltTheme(theme) {
            return theme === 'light' ? 'dark': 'light';
        }

        function applyTheme(theme) {
            const img = document.getElementById('theme-toggle-img');
            const stylesheet = document.getElementById('theme-stylesheet');
            const altTheme = getAltTheme(theme);
            stylesheet.href = `{{ baseUrl }}/css/${theme}.css`;
            localStorage.setItem('theme', theme);
            img.src = `{{ baseUrl }}/images/${altTheme}.png`;
        }

        function toggleTheme() {
            const theme = getTheme();
            const altTheme = getAltTheme(theme);
            applyTheme(altTheme);
        }

        document.addEventListener('DOMContentLoaded', () => {
            // manage visitor's preferred theme
            const themeToggle = document.getElementById('theme-toggle');
            const theme = getTheme();
            applyTheme(theme);
            themeToggle.addEventListener('click', (e) => {
                e.preventDefault();
                toggleTheme(getTheme())
            });
        });
    </script>
    {% endif %}
    <nav>
        <div class="container">
            <div class="row">
                <a href="{{ baseUrl }}/" class="">
                    <img id="brand-logo" src="{{ baseUrl }}/images/moneroblocks.png" alt="Monero Blocks image made by Rando (matrix)" width="100px" />
                </a>
                <a href="https://monero.fail" target="_blank" class="button col">Nodes</a>
                <a href="https://monerica.com/" target="_blank" class="button col">Directory</a>
                <a href="https://www.revuo-xmr.com/" target="_blank" class="button col">News</a>
                {% if not nojs %}
                <a id="theme-toggle" class="button" href="#"><img id="theme-toggle-img" src="" /></a>
                {% endif %}
            </div>
        </div>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
